
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Pay Direct With Credit Card", "PaymentWithCreditCard", "Paypal")
@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal")

